sprite-canvas {
  flex: 10;
  display: flex;
  align-items: center;
  background-color: var(--primary-bg);

  > .canvas-wrapper {
    position: relative;
    padding: 0px;
    margin: auto;
    border: 1cap solid var(--canvas-border);
    overflow: auto;
    scrollbar-color: var(--canvas-grid-line) var(--primary-bg);
    scrollbar-width: thin;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  drawing-canvas {
    z-index: 5;
  }

  temp-canvas {
    z-index: 6;
  }

  hover-canvas {
    z-index: 7;
  }

  input-canvas {
    z-index: 8;
  }
}
