sprite-tools {
  flex: 1;
  padding: 0.5rem 1rem;
  background-color: var(--primary-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;

  #title {
    font-size: 2.5em;
    text-align: center;
    color: var(--title-color);
    margin-bottom: 1em;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--title-stroke-color);
  }

  .toolbox {
    display: grid;
    grid-template-columns: repeat(2, 3.6rem);
    justify-content: center;

    .tool-button {
      border: none;
      background: none;
      cursor: pointer;
      transition: background-color 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        filter: invert(5%) brightness(100%) contrast(100%);
      }

      &.active {
        filter: invert(100%) brightness(100%) contrast(100%);
      }

      img {
        width: 3.5rem;
        height: 3.5rem;
      }
    }

    #color_input {
      width: 3.5rem;
      height: 3.5rem;
      margin: 0.1rem;
      cursor: pointer;
      justify-self: center;
    }
  }

  .pixel-size-options {
    width: 8rem;
    display: flex;
    justify-content: center;
    gap: 0.1rem;
    margin-bottom: 0.5rem;

    .pixel-size-option {
      text-align: center;
      border: none;
      padding: 0.5rem 0.75rem;
      cursor: pointer;
      background-color: var(--tool-button-inactive-background-color);
      color: var(--tool-button-inactive-color);
      &:hover {
        filter: invert(5%) brightness(100%) contrast(100%);
      }

      &.active {
        filter: invert(100%) brightness(100%) contrast(100%);
      }
    }
  }

  .palettes {
    display: grid;
    grid-template-columns: repeat(3, 2.7rem);
    justify-content: center;
    margin-top: 0.5rem;

    .palette-color {
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
    }
  }
}
