sprite-tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1em;
  padding: 1em;
  background-color: var(--primary-bg);
  margin-top: 3em;

  .pixel-size-options {
    display: flex;
    justify-content: center;
    column-gap: 0.1em;

    .pixel-size-option {
      text-align: center;
      padding: 0.4em;
      cursor: pointer;
      background-color: var(--tool-button-inactive-background-color);
      color: var(--tool-button-inactive-color);

      &:hover {
        filter: invert(5%) brightness(100%) contrast(100%);
      }

      &.active {
        filter: invert(100%) brightness(100%) contrast(100%);
      }
    }
  }

  .toolbox {
    display: grid;
    grid-template-columns: repeat(2, 3.1rem);
    justify-content: center;
    gap: 0.1rem;

    .tool-button {
      border: none;
      background: none;
      cursor: pointer;
      transition: background-color 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        filter: invert(5%) brightness(100%) contrast(100%);
      }

      &.active {
        filter: invert(100%) brightness(100%) contrast(100%);
      }

      img {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  .color-selection {
    display: flex;
    align-items: center;

    .swap-btn {
      background-color: transparent;
      color: white;
      border: none;
      cursor: pointer;
    }

    #color_input {
      width: 3rem;
      height: 3rem;
    }
  }

  .palettes {
    display: grid;
    grid-template-columns: repeat(3, 2.4rem);
    justify-content: center;
  }

  input[type="color"] {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 2.2rem;
    height: 2.2rem;
  }
}
