sprite-tools {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1em;
  padding: 2em 4em;
  background-color: var(--secondary-bg);

  .pixel-size-options {
    display: flex;
    width: min-content;
    justify-content: center;
    column-gap: 0.1em;

    .pixel-size-option {
      text-align: center;
      padding: 0.8em;
      cursor: pointer;
      background-color: var(--tool-button-inactive-background-color);
      color: var(--tool-button-inactive-color);

      &:hover {
        filter: invert(5%) brightness(100%) contrast(100%);
      }

      &.active {
        filter: invert(100%) brightness(100%) contrast(100%);
      }
    }
  }

  .toolbox {
    display: grid;
    grid-template-columns: repeat(2, 3.6rem);
    justify-content: center;
    gap: 0.1rem;

    .tool-button {
      border: none;
      background: none;
      cursor: pointer;
      transition: background-color 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        filter: invert(5%) brightness(100%) contrast(100%);
      }

      &.active {
        filter: invert(100%) brightness(100%) contrast(100%);
      }

      img {
        width: 3.5rem;
        height: 3.5rem;
      }
    }
  }

  .color-selection {
    display: grid;
    width: 100%;
    grid-template-columns: 4fr 1fr 2.5fr;
    justify-items: center;
    align-items: center;

    .swap-btn {
      background-color: transparent;
      color: white;
      border: none;
      cursor: pointer;
      width: min-content;
    }

    #color_input {
      width: 4rem;
      height: 4rem;
    }
  }

  .palettes {
    display: grid;
    grid-template-columns: repeat(3, 2.7rem);
    justify-content: center;

    .palette-color {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  input[type="color"] {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
  }
}
