sprite-preview {
  flex: 1;
  padding: 5px 10px;
  background-color: var(--primary-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;

  .hidden {
    display: none !important;
  }

  sprite-frames {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 100%;
    user-select: none;
    overflow-y: scroll;
    margin: 1rem 0;
    padding: 1rem;
    background-color: var(--container-color);
    scrollbar-color: var(--canvas-background-color) var(--container-color);

    .dragging {
      position: absolute !important;
      z-index: 25;
    }

    .frame_container {
      display: flex;
      flex-direction: column;
      width: 100%;

      sprite-frame {
        position: relative;
        align-self: center;
        height: 100px;
        width: 100px;
        background-color: var(--preview-highlight-color);
        border-radius: 3px;
        border: 3px solid black;
        margin: 3px;

        label {
          cursor: pointer;
          position: absolute;
          display: none;
          color: var(--canvas-background-color);
          height: 25px;
          width: 25px;
          justify-content: center;
          align-items: center;
          background-color: grey;
        }

        .thumbnail_wrapper {
          height: 100%;
          width: 100%;
          background-size: 10px 10px;
          background-color: var(--canvas-background-color);
          cursor: pointer;

          img {
            height: 100%;
            width: 100%;
          }
        }

        .index_label {
          display: flex;
          top: 0;
          left: 0;
          background-color: var(--preview-highlight-color);
          border-bottom-right-radius: 3px;
          font-weight: bold;
        }

        .delete_label {
          border-top-left-radius: 3px;
          top: 75px;
          left: 75px;
        }

        .delete_label:hover {
          font-size: 20px;
        }

        .copy_label {
          border-top-right-radius: 3px;
          top: 75px;
          left: 0px;
        }

        .copy_label:hover {
          font-size: 20px;
        }

        .move_label {
          border-bottom-left-radius: 3px;
          top: 0px;
          left: 75px;
        }

        .move_label:hover {
          font-size: 20px;
        }
      }

      sprite-frame:hover {
        border-color: var(--sprite-hover-color);

        .delete_label {
          display: flex;
        }
        .copy_label {
          display: flex;
        }
      }

      sprite-frame.selected {
        border-color: var(--preview-highlight-color);

        .delete_label {
          display: flex;
        }

        .copy_label {
          display: flex;
        }

        .move_label {
          display: flex;
        }
      }
    }

    .new_frame_container {
      cursor: pointer;
      display: flex;
      font-size: 30px;
      border: 3px solid #888;
      margin: 3px;
      align-self: center;
      justify-content: center;
      align-items: center;
      background-color: var(--canvas-background-color);
      height: 40px;
      width: 100px;
      color: #888;
    }

    .new_frame_container:hover {
      border-color: var(--preview-highlight-color);
      color: var(--preview-highlight-color);
    }

    .frame_dummy {
      position: relative;
      align-self: center;
      height: 100px;
      width: 100px;
      background-color: var(--canvas-background-color);
      border-radius: 3px;
      border: 3px dashed var(--preview-highlight-color);
      margin: 3px;
    }
  }

  animation-preview {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: auto;
    width: 200px;

    img {
      height: 200px;
      border: 4px solid var(--container-color);
    }

    animation-preview-controls {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: var(--container-color);
      padding: 5px;

      button {
        margin-left: 3px;
      }

      button.running,
      #onion_skin_button.active {
        background-color: var(--preview-highlight-color);
      }

      #onion_skin_button {
        background-color: var(--container-color);
        color: white;
        border: none;
        padding: 5px;
        border-radius: 3px;
        cursor: pointer;
      }

      #onion_skin_button:hover {
        background-color: var(--preview-highlight-color);
      }
    }
  }
}
