file-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;

  .left-panel, .right-panel {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: auto;
    height: auto;
  }
  .left-panel img, .right-panel img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}
