file-area-tools-left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;

  #switch_to {
    text-decoration: underline;
    text-align: center;
    font:bolder;
    color: #000;
  }
  #go_to_sprite_editor img {
    width: 15px;
    height: 15px;
  }
}




