file-area-tools-left {
  background-color: #333;
  display: flex;
  justify-content: center;
  width: 15%;
  height: 100%;

  #go_to_sprite_editor {
    text-decoration: underline;
    text-align: center;
    font:bolder;
    color: #000;
  }
  #go_to_sprite_editor img {
    width: 15px;
    height: 15px;
  }
}




