file-area {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 15%;
}
.left-panel, .right-panel {
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.file_area_button img {
    width: 50px;
    height: 50px;
  }