file-area-view {
  flex: 1;
  height: 95%;
  background-color: grey;
  border: solid 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow-y: auto;


  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;

    i {
      font-size: 40px;
    }

    p {
      font-size: 13px;
      text-align: center;

      input {
        text-align: center;
      }
    }
  }

  .item.selected {
    background-color: #646464cc;
  }

  .folder-name-input {
    width: 80px;
  }
}
