file-area-view {
  flex: 1;
  height: 95%;
  background-color: #888;
  border-left: solid 1px white;
  border-right: solid 1px white;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #222 #888;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    margin: 0.5rem;
    text-overflow: ellipsis;
    padding-top: 0.5rem;

    i {
      font-size: 2.5rem;
    }

    p {
      font-size: 0.9rem;
      text-align: center;

      input {
        text-align: center;
      }
    }
  }

  .item.selected {
    background-color: #646464cc;
  }

  .folder-name-input {
    width: 80px;
  }
}
