file-area-view {
  flex: 1;
  height: 90%;
  background-color: grey;
  border: solid 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;        /* Damit die Ordner umbrechen können */
  justify-content: flex-start; /* Ordner linksbündig ausrichten */
  align-items: flex-start; /* Ordner am oberen Rand ausrichten */
}

.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.folder-icon {
  width: 50px;
  height: 50px;
}

.folder-name-input {
  width: 80px;
}

.folder-name {
  font-size: small;
  text-align: center;
}
