file-area-tools-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    button {
      width: 100%;
      height: 100%;
      img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        margin-left: 5px;
      }
    }
}