file-area-view {
  flex: 1;
  height: 95%;
  background-color: grey;
  border: solid 1px;
}
.center-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

.folder-icon {
  width: 40px;
  height: 40px;
}

.folder-name-input {
  width: 80px;
}

.folder-name {
  font-size: small;
  text-align: center;
}
