sprite-canvas {
  flex: 5;
  display: flex;
  align-items: center;
  background-color: #222;
  border-left: 1px solid white;
  border-right: 1px solid white;

  > .canvas-wrapper {
    display: block;
    padding: 0px;
    margin: auto;
    background-image: linear-gradient(90deg, #444 1px, transparent 1px),
      linear-gradient(90deg, #444 1px, transparent 1px),
      linear-gradient(0deg, #444 1px, transparent 1px),
      linear-gradient(0deg, #444 1px, transparent 1px);
    background-size: 10px 10px;
    background-position: 0 0; /* Größe der Schachbrettmuster-Quadrate */
    border: 1cap solid #bbb;
  }
  canvas {
    position: relative;
    display: block;
    width: 640px;
    height: 640px;
    z-index: 5;
    margin: auto;
    cursor: crosshair;
  }

  canvas.using-pen {
    cursor: url(../../img/cursors/pen.png) 0 0, auto;
  }
  canvas.using-mirror-pen {
    cursor: url(../../img/cursors/mirror-pen.png) 0 0, auto;
  }
  canvas.using-bucket {
    cursor: url(../../img/cursors/bucket.png) 0 0, auto;
  }
  canvas.using-mirror-pen {
    cursor: url(../../img/cursors/mirror-pen.png) 0 0, auto;
  }
  canvas.using-eraser {
    cursor: url(../../img/cursors/eraser.png) 0 0, auto;
  }
  canvas.using-stroke {
    cursor: url(../../img/cursors/stroke.png) 0 0, auto;
  }
  canvas.using-rectangle {
    cursor: url(../../img/cursors/rectangle.png) 0 0, auto;
  }
  canvas.using-circle {
    cursor: url(../../img/cursors/circle.png) 0 0, auto;
  }
  canvas.using-move {
    cursor: move;
  }
  canvas.using-shape {
    cursor: url(../../img/cursors/wand.png) 0 0, auto;
  }
  canvas.using-lighten {
    cursor: url(../../img/cursors/lighten.png) 0 0, auto;
  }
  canvas.using-dithering {
    cursor: url(../../img/cursors/dither.png) 0 0, auto;
  }
  canvas.using-color-picker {
    cursor: url(../../img/cursors/dropper.png) 0 0, auto;
  }
}
