sprite-canvas {
    flex: 0 0 80%;
    display: flex;
    align-items: center;
    background-color: rgb(251, 251, 251);

    > .canvas-wrapper {
        display: block;
        padding: 0px;
        margin: auto;
        background-image:
        linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc),
        linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc);
        background-size: 10px 10px;
        background-position: 0 0; /* Größe der Schachbrettmuster-Quadrate */
        border: 2px solid black;
    }
    canvas {
        position: relative;
        display: block;
        width: 640px;
        height: 640px;
        z-index: 5;
        margin: auto;
    }
}