sprite-tools {
    flex: 1;
    padding: 5px 10px;
    background-color: #333;

    display: flex;
    flex-direction: column;
}

#title {
    font-size: 2em;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 10px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

ul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    color: whitesmoke;
}