sprite-tools {
  flex: 1;
  padding: 0.5rem 1rem;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;

  #title {
    font-size: 2.5em;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 1em;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
  }

  .toolbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: min-content;
  }

  .tool-button {
    border: none;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      filter: invert(5%) brightness(100%) contrast(100%);
    }

    &.active {
      filter: invert(100%) brightness(100%) contrast(100%);
    }

    img {
      width: 50px;
      height: 50px;
    }
  }

  .pixel-size-option {
    background-color: black;
    color: white;
    padding: 4px 6px;
    border: none;

    &.active {
      background-color: white;
      color: black;
      border: solid 1px black;
    }
  }

  .palette-color {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
  }
}
