map-editor-tools {
  flex: 1;
  padding: 0.5rem 1rem;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;

  #title {
    font-size: 2.5em;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 1em;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
  }

  .toolbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: min-content;
    border: 0.2cap solid #bbb;
  }

  .tool-button {
    border: none;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .tool-button:hover {
    filter: invert(5%) brightness(100%) contrast(100%);
  }
  .tool-button.active {
    filter: invert(100%) brightness(100%) contrast(100%);
  }

  .tool-button img {
    width: 50px;
    height: 50px;
  }

  .assetbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: min-content;
    padding: 0.5rem 0.5rem;
    background-color: whitesmoke;
    border: 0.2cap solid #bbb;
  }

  .asset-button {
    border: none;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .asset-button:hover {
    filter: invert(25%) brightness(100%) contrast(100%);
  }
  .asset-button.active {
    filter: invert(100%) brightness(100%) contrast(100%);
  }

  .asset-button img {
    width: 50px;
    height: 50px;
  }
}
