/*
Hier können wir unsere globalen Farben speichern
*/

body {
  margin: 0px;
}

:root {
  --primary-background-color: #333;
  --container-color: #444;

  --canvas-background-color: #222;
  --canvas-grid-color: #444;
  --canvas-border-color: #bbb;

  --sprite-hover-color: #777;

  --preview-highlight-color: gold;

  --title-color: whitesmoke;
  --title-stroke-color: black;

  --tool-button-inactive-background-color: black;
  --tool-button-inactive-color: white;
}
