body {
  margin: 0px;
}

:root {
  --primary-bg: #222;
  --secondary-bg: #333;
  --container-bg: #444;

  --button-bg: #eee;
  --button-color: black;
  --button-hover-bg: #ccc;
  --button-border: #bbb;

  --primary-border: white;

  --canvas-grid-line: #444;
  --canvas-border: #bbb;

  --active-accent: gold;
  --neutral-accent: #777;

  --title: whitesmoke;
  --title-stroke: black;
  --secondary-title: black;

  --tool-button-inactive-background-color: black;
  --tool-button-inactive-color: white;
}
