body {
  margin: 0px;
  font-family: "VT323", monospace;

  button {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
  }
}

:root {
  --primary-bg: #222;
  --secondary-bg: #333;
  --container-bg: #444;

  --button-bg: #f2f2f2;
  --button-color: #0d0d0d;
  --button-hover-bg: #bfbfbf;
  --button-border: #0d0d0d;

  --primary-border: white;

  --canvas-grid-line: #444;
  --canvas-border: #bbb;

  --active-accent: #8f76d9;
  --neutral-accent: #777;

  --title: whitesmoke;
  --title-stroke: black;
  --secondary-title: black;

  --tool-button-inactive-background-color: black;
  --tool-button-inactive-color: white;
}
