body {
    margin: 0; /* Entfernt den Standardabstand des Body-Elements */
    overflow: hidden; /* Verhindert das Scrollen der Seite */
    background-color: black; /*Setzt die Hintergrundfarbe auf Schwarz */

    #editor_container {
        height: 85%; 
        width: 100%;
    }
}