title-screen {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  background-image: linear-gradient(#555 1px, transparent 1px),
    linear-gradient(90deg, #555 1px, transparent 1px);
  background-size: 50px 50px;
  align-items: center;
  justify-content: center;

  .button_container {
    button {
      height: 50px;
      width: 150px;
      margin: 20px;
      font-family: monospace;
      font-size: 20px;
      font-weight: bold;
      transition: all 0.2s ease-in;
    }

    button:hover {
      height: 60px;
      width: 180px;
      font-size: 22px;
    }
  }
}
