map-editor-layers {
  padding: 5px;
  background-color: var(--secondary-bg);
  min-height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;

  .layers-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .layers-list {
    flex: 1;
    overflow-y: auto;
    padding: 5px;
    margin: 0;
    list-style-type: none;
    background-color: var(--container-bg);
    scrollbar-color: var(--primary-bg) var(--container-bg);
    scrollbar-width: thin;
  }

  .layer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: var(--neutral-bg);
    border: 2px solid black;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 0 10px;
    cursor: pointer;
    transition: border-color 0.3s;
  }

  .layer-item:active,
  .layer-item.active-layer {
    border-color: var(--active-accent);
  }

  .layer-item .index_label {
    font-weight: bold;
    color: var(--primary-bg);
  }

  .layer-item .delete_label {
    background-color: var(--neutral-accent);
    color: var(--primary-bg);
    border: none;
    cursor: pointer;
    padding: 2px 5px;
    border-radius: 3px;
  }

  .add-layer-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 2px solid var(--neutral-accent);
    height: 40px;
    background-color: var(--primary-bg);
    color: var(--neutral-accent);
    border-radius: 3px;
    margin-top: 10px;
  }
}
