map-editor-map-preview {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  position: relative;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  canvas {
    position: absolute;
    border: 2px solid var(--primary-border);
  }
}
