map-editor-tools {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1em;
  padding: 1em;
  background-color: var(--primary-bg);
  align-items: center;
  flex: 1.5;

  .pixel-size-options {
    display: flex;
    justify-content: center;
    column-gap: 0.1em;
    width: 100%;

    .pixel-size-option {
      width: 2rem;
      height: 2rem;
      text-align: center;
      cursor: pointer;
      background-color: var(--tool-button-inactive-background-color);
      color: var(--tool-button-inactive-color);
      border: solid var(--color-input-default);

      &:hover {
        filter: invert(5%) brightness(100%) contrast(100%);
      }

      &.active {
        border-color: var(--active-accent);
      }
    }

    #size_1 {
      border-width: 10px;
    }
    #size_2 {
      border-width: 6px;
    }
    #size_3 {
      border-width: 3px;
    }
  }

  .toolbox {
    display: grid;
    grid-template-columns: repeat(2, 3.1rem);
    justify-content: center;
    gap: 0.1rem;

    .tool-button {
      border: none;
      background: none;
      cursor: pointer;
      transition: background-color 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        filter: invert(5%) brightness(100%) contrast(100%);
      }

      &.active {
        filter: invert(100%) brightness(100%) contrast(100%);
      }

      img {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  .assetbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: min-content;
    padding: 0.5rem 0.5rem;
    background-color: var(--container-bg);
    max-height: 250px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-bg) var(--container-bg);
  }

  .assetbox::-webkit-scrollbar {
    width: 6px;
  }

  .assetbox::-webkit-scrollbar-track {
    background: var(--container-bg);
  }

  .assetbox::-webkit-scrollbar-thumb {
    background-color: var(--primary-bg);
    border-radius: 3px;
  }

  .asset-button {
    border: none;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s;

    img {
      width: 50px;
      height: 50px;
      transition: filter 0.3s;
    }

    &:hover img,
    &.active img {
      filter: brightness(50%);
    }
  }
}
