map-editor-layers {
  padding: 5px 5px;
  background-color: var(--secondary-bg);
}

.placeholder-layers-box {
  width: 200px;
  height: 200px;
  background-color: var(--container-bg);
  margin: auto;
}
