map-editor-tools {
  flex: 1;
  padding: 0.5rem 1rem;
  background-color: var(--secondary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;

  .toolbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: min-content;
  }

  .tool-button {
    border: none;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      filter: invert(5%) brightness(100%) contrast(100%);
    }

    &.active {
      filter: invert(100%) brightness(100%) contrast(100%);
    }

    img {
      width: 50px;
      height: 50px;
    }
  }

  .assetbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: min-content;
    padding: 0.5rem 0.5rem;
    background-color: var(--container-bg);
  }

  .asset-button {
    border: none;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      filter: invert(25%) brightness(100%) contrast(100%);
    }
    &.active {
      filter: invert(35%) brightness(100%) contrast(100%);
    }

    img {
      width: 50px;
      height: 50px;
    }
  }
}
