map-editor-canvas {
  flex: 5;
  display: flex;
  align-items: center;
  background-color: var(--primary-bg);
  border-left: 1px solid var(--primary-border);
  border-right: 1px solid var(--primary-border);

  > .canvas-wrapper {
    position: relative;
    padding: 0px;
    margin: auto;
    border: 1cap solid var(--canvas-border);
    overflow: auto;
    scrollbar-color: var(--canvas-grid-line) var(--primary-bg);
    scrollbar-width: thin;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  map-drawing-canvas {
    z-index: 5;
  }

  map-temp-canvas {
    z-index: 6;
  }

  map-hover-canvas {
    z-index: 7;
  }

  map-input-canvas {
    z-index: 8;
  }
}
