map-editor-layers {
  padding: 5px 5px;
  background-color: var(--primary-background-color);
}

.placeholder-layers-box {
  width: 200px;
  height: 200px;
  background-color: var(--container-color);
  margin: auto;
}
