map-editor-canvas {
  flex: 5;
  display: flex;
  align-items: center;
  background-color: #222;
  border-left: 1px solid white;
  border-right: 1px solid white;

  > .canvas-wrapper {
    position: relative;
    padding: 0px;
    margin: auto;
    background-image: linear-gradient(90deg, #444 1px, transparent 1px),
      linear-gradient(0deg, #444 1px, transparent 1px);
    border: 1cap solid #bbb;
    width: 640px;
    height: 640px;
    overflow: auto;
    scrollbar-color: #444 #222;
    scrollbar-width: thin;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 640px;
    min-height: 640px;
  }

  map-drawing-canvas {
    z-index: 5;
  }

  map-temp-canvas {
    z-index: 6;
  }

  map-hover-canvas {
    z-index: 7;
  }

  map-input-canvas {
    z-index: 8;
  }
}
