file-area-view {
  flex: 1;
  background-color: var(--container-bg);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-bg) var(--neutral-accent);

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    margin: 0.5rem;
    text-overflow: ellipsis;
    padding-top: 0.5rem;

    i {
      font-size: 2.5rem;
      color: var(--button-hover-bg);
    }

    p {
      font-size: 1rem;
      text-align: center;
      width: 100%;
      color: var(--button-bg);

      input {
        text-align: center;
      }
    }
  }

  .item.selected {
    background-color: #646464cc;
  }

  .folder-name-input {
    width: 80px;
  }

  .context-menu {
    position: absolute;
    display: none;
    z-index: 100;
    background-color: var(--secondary-bg);
    border: 1px solid var(--neutral-accent);
    border-radius: 4px;
    width: 150px;
    z-index: 1000;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .context-menu.visible {
    display: flex;
  }

  .context-menu-option {
    padding: 10px;
    color: var(--title);
    cursor: pointer;
    border-bottom: 1px solid var(--container-bg);
  }

  .context-menu-option:last-child {
    border-bottom: none;
  }

  .context-menu-option:hover {
    background-color: var(--neutral-accent);
  }
}
