file-area {
  width: 100%;
  height: 16vh;
  display: flex;
  border-top: 1px solid var(--primary-border);

  .file-area-tools {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--secondary-bg);
      color: white;
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
      width: 14.4vw;
      height: 100%;
      text-align: center;
      position: relative;
      border: var(--neutral-accent) solid 1px;

      &:hover {
        background-color: var(--neutral-accent);

        i {
          transform: scale(1.1);
        }
      }

      i {
        position: absolute;
        left: 10px;
        font-size: 20px;
      }
    }
  }

  top-menu {
    background-color: var(--container-bg);
    position: absolute;
    width: 85.2vw;
    height: 3em;
    top: 0;
    display: flex;
    align-items: center;

    .project-name {
      font-size: 1.2rem;
      color: white;
      width: 100%;
      text-align: center;
    }

    button {
      background-color: var(--container-bg);
      border: none;
      color: white;
      font-size: 1rem;
      padding: 1rem 2rem;
      height: 3em;
      cursor: pointer;
      transition: background-color 0.3s;
      display: flex;
      width: 12em;
      justify-content: space-between;
      align-items: center;

      &:hover {
        background-color: var(--primary-bg);
        color: var(--active-accent);
      }
    }
  }
}
