file-area {
  width: 100%;
  height: 16vh;
  display: flex;
  border-top: 1px solid var(--primary-border);

  .file-area-tools {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 14.4vw;
      height: 100%;
      padding: 0.5rem 1rem;
      background-color: var(--secondary-bg);
      color: white;
      border: 1px solid var(--neutral-accent);
      cursor: pointer;
      position: relative;
      text-align: center;
      transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;

      i {
        position: absolute;
        left: 10px;
        font-size: 1.25rem;
        transition: transform 0.2s;
      }

      &:hover {
        background-color: var(--neutral-accent);
        transform: translateY(-2px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        i {
          transform: scale(1.1);
        }
      }
    }
  }
}
