file-area {
  height: 16vh;
  display: flex;
  border-top: 1px solid var(--primary-border);

  .file-area-tools {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--secondary-bg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    button {
      display: flex;
      align-items: center;
      background-color: var(--secondary-bg);
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
      width: 138px;
      text-align: left;
      border: var(--neutral-accent) solid 1px;

      &:hover {
        background-color: var(--neutral-accent);

        i {
          transform: scale(1.1);
        }
      }

      i {
        width: 20px;
        height: 20px;
        font-size: large;
        margin-right: 10px;
        transition: transform 0.3s;
      }
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    margin: 0.5rem;
    text-overflow: ellipsis;
    padding-top: 1rem;

    i {
      font-size: 2.5rem;
    }

    p,
    .rename-input {
      font-size: 0.9rem;
      text-align: center;
      width: 100%;
      margin-top: 0.5rem;
      padding: 2px;
      box-sizing: border-box;
    }

    .rename-input {
      border: 1px solid transparent;
      outline: none;
      border-color: var(--neutral-accent);
      background: var(--button-bg);
      border-radius: 3px;
    }
  }
}
