file-area {
  height: 16vh;
  display: flex;
  border-top: 1px solid white;

  .file-area-tools {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--primary-background-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    button {
      display: flex;
      align-items: center;
      background-color: var(--primary-background-color);
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
      width: 138px;
      text-align: left;
      border: var(--sprite-hover-color) solid 1px;

      &:hover {
        background-color: var(--sprite-hover-color);

        i {
          transform: scale(1.1);
        }
      }

      i {
        width: 20px;
        height: 20px;
        font-size: large;
        margin-right: 10px;
        transition: transform 0.3s;
      }
    }
  }
}
