file-area-view {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem;
  background-color: var(--container-bg);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-bg) var(--neutral-accent);

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    padding: 0.5rem;
    margin: 0.25rem;
    background-color: var(--item-bg);
    text-overflow: ellipsis;
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;

    i {
      font-size: 3rem;
      color: var(--button-hover-bg);
      transition: color 1s ease;
    }

    p {
      width: 100%;
      margin-bottom: 0;
      font-size: 1rem;
      text-align: center;
      color: var(--button-bg);

      input {
        text-align: center;
      }
    }

    .rename-input {
      margin-top: 12px;
      width: 100%;
      padding: 0.25em 0.5em;
    }

    &:hover {
      transform: translateY(-5px);
      background-color: var(--item-hover-bg);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  .item.selected {
    background-color: var(--selected-accent);
    transform: translateY(-5px);
  }

  .context-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 150px;
    background-color: var(--secondary-bg);
    border: 1px solid var(--neutral-accent);
    border-radius: 4px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .context-menu.visible {
    display: flex;
  }

  .context-menu-option {
    padding: 10px;
    color: var(--title);
    cursor: pointer;
    border-bottom: 1px solid var(--container-bg);

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: var(--neutral-accent);
    }
  }
}
