file-area-view {
  flex: 1;
  background-color: var(--container-bg);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-bg) var(--neutral-accent);

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    height: 5rem;
    margin: 1.2rem 0.5rem;
    text-overflow: ellipsis;
    transition: transform 0.2s, background-color 0.2s;

    &:hover {
      transform: translateY(-5px);
      background-color: var(--neutral-accent);
    }

    i {
      font-size: 3rem;
      color: var(--button-hover-bg);
    }

    p {
      font-size: 1rem;
      text-align: center;
      width: 100%;
      color: var(--button-bg);
      margin-bottom: 0;

      input {
        text-align: center;
      }
    }

    .rename-input {
      margin-top: 12px;
      width: 100%;
      padding: 0.25em 0.5em;
    }
  }

  .item.selected {
    background-color: var(--neutral-accent);
  }

  .context-menu {
    position: absolute;
    display: none;
    z-index: 100;
    background-color: var(--secondary-bg);
    border: 1px solid var(--neutral-accent);
    border-radius: 4px;
    width: 150px;
    z-index: 1000;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .context-menu.visible {
    display: flex;
  }

  .context-menu-option {
    padding: 10px;
    color: var(--title);
    cursor: pointer;
    border-bottom: 1px solid var(--container-bg);
  }

  .context-menu-option:last-child {
    border-bottom: none;
  }

  .context-menu-option:hover {
    background-color: var(--neutral-accent);
  }
}
