body {
  margin: 0px;
  overflow: hidden;
  background-color: black;
  padding: 0px;

  #editor_container {
    height: 78vh;
    width: 100%;
  }

  top-menu {
    background-color: var(--secondary-bg);
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    column-gap: 35%;
    border-bottom: 1px solid var(--primary-border);

    .project-container {
      font-size: 1.2rem;
      color: white;
      text-align: center;
      display: flex;
      align-items: center;

      .input-container {
        display: flex;
        align-items: center;
        background: var(--container-bg);
        padding: 0.2rem 0.4rem;

        .rename-input {
          font-size: 1.2rem;
          font-family: "VT323", monospace;
          color: white;
          background: none;
          border: none;

          &:focus {
            outline: none;
            text-decoration: underline;
          }
        }

        .submit-icon,
        .cancel-icon {
          cursor: pointer;
          margin-left: 5px;
          color: white;
          font-size: 1.2rem;
        }

        .submit-icon:hover,
        .cancel-icon:hover {
          color: var(--active-accent);
        }
      }
    }

    button {
      background-color: var(--secondary-bg);
      border: none;
      color: white;
      font-size: 1rem;
      padding: 1rem 2rem;
      height: 100%;
      cursor: pointer;
      transition: background-color 0.3s;
      display: flex;
      width: 12em;
      justify-content: space-between;
      align-items: center;

      &:hover {
        background-color: var(--primary-bg);
        color: var(--active-accent);
      }
    }
  }
}
