body {
  margin: 0px;
  overflow: hidden;
  background-color: black;
  padding: 0px;

  #editor_container {
    height: 78vh;
    width: 100%;

    .tool-info {
      font-family: "Pixelify Sans", sans-serif;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      padding: 0 0.6rem;
      line-height: 0.6rem;
      font-size: 0.8rem;
      word-spacing: 0.2rem;
      z-index: 1000;

      #lines:first-child {
        font-size: 0.9rem;
      }

      #paren_word {
        color: var(--active-accent);
        font-weight: 500;
      }
    }
  }

  top-menu {
    background-color: var(--secondary-bg);
    color: white;
    font-size: 1.2rem;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-border);
    padding: 0 2rem;

    .project-container {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      max-width: 25%;
      overflow: hidden;
    }

    .file-container {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 1rem;
    }

    .input-container {
      display: flex;
      align-items: center;
      background: var(--container-bg);
      padding: 0.2rem 0.4rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .rename-input {
        font-size: 1.2rem;
        font-family: "VT323", monospace;
        color: white;
        background: none;
        border: none;
        width: 100%;

        &:focus {
          outline: none;
          text-decoration: underline;
        }
      }

      .submit-icon,
      .cancel-icon {
        cursor: pointer;
        margin-left: 0.5rem;
        font-size: 1.2rem;
      }

      .submit-icon:hover,
      .cancel-icon:hover {
        color: var(--active-accent);
      }
    }
  }
}
