no-file-open-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--primary-bg);

  p {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    color: var(--title);
    text-align: center;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.75rem;
  }

  button {
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
    background-color: var(--button-bg);
    color: var(--button-color);
    border: var(--button-border);
    cursor: pointer;
    width: 20rem;
    transition: background-color 0.3s ease, transform 0.3s ease,
      box-shadow 0.3s ease;

    &:hover {
      background-color: var(--button-hover-bg);
      transform: translateY(-2px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: translateY(0);
      box-shadow: none;
    }
  }
}
