title-screen {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg);
  background-image: linear-gradient(
      var(--canvas-grid-line) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, var(--canvas-grid-line) 1px, transparent 1px);
  background-size: 50px 50px;
  align-items: center;
  justify-content: center;

  .btn {
    width: 12em;
    height: 3em;
    font-size: 1.25rem;
    font-weight: 500;
    background-color: var(--button-bg);
    color: var(--button-color);
    border: var(--button-border);
    cursor: pointer;
    box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
      transform 0.2s ease-in-out;

    &:hover {
      background-color: var(--button-hover-bg);
      box-shadow: 0.3em 0.3em 0.6em rgba(0, 0, 0, 0.5);
      transform: translateY(-0.125em);
    }

    &:active {
      box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.2);
      transform: translateY(0);
    }
  }

  initial-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 1.25em;
    align-items: center;
    justify-content: center;
  }

  add-project-inputs {
    width: 20em;
    display: flex;
    flex-direction: column;
    row-gap: 1.25em;
    align-items: center;
    justify-content: center;

    #new_project_name {
      width: 100%;
      font-size: 1.5rem;
      font-family: "VT323", monospace;
      background-color: var(--button-bg);
      color: var(--button-color);
      border: var(--button-border);
      padding: 0.5em;
    }

    .button-div {
      display: flex;
      width: 100%;
      column-gap: 1.25em;
    }
  }

  projects-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25em;
    width: 50em;
    background-color: var(--secondary-bg);
    padding: 1.25rem;
    row-gap: 1rem;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
    scrollbar-color: var(--neutral-accent) var(--secondary-bg);

    .views-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      row-gap: 0.75rem;

      .project-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--container-bg);
        padding: 0.75rem 1.25rem;
        transition: box-shadow 0.3s ease-in-out,
          background-color 0.3s ease-in-out;
        box-shadow: 0 0.125em 0.375em rgba(0, 0, 0, 0.15);

        &:hover {
          box-shadow: 0.188em 0.375em 0.75em var(--primary-bg);
          background-color: var(--container-hover-bg);
        }

        .project-buttons {
          display: flex;
          flex-direction: row;
          column-gap: 0.75rem;
          align-items: center;

          .btn {
            width: 2em;
            height: 2em;
            font-size: 1.25rem;
          }
        }

        project-view {
          display: flex;
          flex: 1;
          margin-left: 1.5rem;
          justify-content: space-between;
          align-items: center;

          .project-name {
            font-size: 1.6rem;
            color: white;
          }
          .project-date {
            background-color: var(--secondary-bg);
            padding: 0.25rem 0.5rem;
            font-size: 1.2rem;
            color: lightgray;
          }
        }
      }
    }

    .overview-buttons {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }
  }
}
