title-screen {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg);
  background-image: linear-gradient(
      var(--canvas-grid-line) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, var(--canvas-grid-line) 1px, transparent 1px);
  background-size: 50px 50px;
  align-items: center;
  justify-content: center;

  initial-buttons {
    button {
      height: 50px;
      width: 150px;
      margin: 20px;
      font-family: monospace;
      font-size: 20px;
      font-weight: bold;
      transition: all 0.2s ease-in;
    }

    button:hover {
      height: 60px;
      width: 180px;
      font-size: 22px;
    }
  }

  projects-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 750px;
    background-color: var(--secondary-bg);

    .views_container {
      height: 90%;
      width: 90%;

      project-view {
        display: flex;
        height: 40px;
        margin: 10px;
        color: white;
        background-color: var(--container-bg);
        justify-content: space-between;
        align-items: center;
        transition: box-shadow 0.2s ease-in-out;

        .project_name {
          font-size: 20px;
          margin: 0 0 0 10;
          padding: 0;
        }

        .project_date {
          font-size: 12px;
          margin: 0 10 0 0;
        }
      }

      project-view:hover {
        box-shadow: 3px 3px 5px var(--primary-bg);
      }
    }

    button {
      width: 100px;
      height: 35px;
      font-size: 30px;
    }
  }

  add-project-inputs {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 100px;

    input {
      text-align: center;
      width: 100%;
      height: 40px;
      font-size: 30px;
      font-weight: bold;
    }

    .button_div {
      width: 100%;
      display: flex;
      margin-top: 10px;
      justify-content: space-between;

      button {
        height: 30px;
        font-size: 25px;
        width: 40%;
      }
    }
  }
}
