title-screen {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg);
  background-image: linear-gradient(
      var(--canvas-grid-line) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, var(--canvas-grid-line) 1px, transparent 1px);
  background-size: 50px 50px;
  align-items: center;
  justify-content: center;

  initial-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;

    .btn {
      width: 200px;
      height: 50px;
      font-size: 20px;
      font-weight: 500;
      background-color: var(--button-bg);
      color: var(--button-color);
      border: var(--button-border);
      cursor: pointer;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
      transition: box-shadow 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: var(--button-hover-bg);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        transform: translateY(-2px);
      }

      &:active {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        transform: translateY(0);
      }
    }
  }

  add-project-inputs {
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;

    #new_project_name {
      width: 100%;
      font-size: 24px;
      font-family: "VT323", monospace;
      background-color: var(--button-bg);
      color: var(--button-color);
      border: var(--button-border);
      padding: 10px;
    }
    .button-div {
      display: flex;
      width: 100%;
      column-gap: 20px;

      .btn {
        width: 200px;
        height: 50px;
        font-size: 20px;
        font-weight: 500;
        background-color: var(--button-bg);
        color: var(--button-color);
        border: var(--button-border);
        cursor: pointer;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.3s ease, transform 0.3s ease;

        &:hover {
          background-color: var(--button-hover-bg);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          transform: translateY(-2px);
        }

        &:active {
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
          transform: translateY(0);
        }
      }
    }
  }

  projects-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 750px;
    background-color: var(--secondary-bg);
    padding: 1.25rem;
    row-gap: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    scrollbar-color: var(--neutral-accent) var(--secondary-bg);

    .views-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      row-gap: 0.75rem;

      .project-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--container-bg);
        padding: 0.75rem 1.25rem;
        transition: box-shadow 0.3s ease-in-out,
          background-color 0.3s ease-in-out;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

        .project-buttons {
          display: flex;
          flex-direction: row;
          column-gap: 0.75rem;
          align-items: center;

          .btn {
            padding: 0.5em;
            width: 2.5em;
            height: 2.5em;
            text-align: center;
            &:hover {
              background-color: var(--button-hover-bg);
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            }
          }
        }

        project-view {
          display: flex;
          flex: 1;
          margin-left: 1.5rem;
          justify-content: space-between;
          align-items: center;

          .project-name {
            font-size: 1.6rem;
            color: white;
          }
          .project-date {
            background-color: var(--secondary-bg);
            padding: 0.25rem 0.5rem;
            font-size: 1.2rem;
            color: lightgray;
          }
        }

        &:hover {
          box-shadow: 3px 6px 12px var(--primary-bg);
          background-color: var(--container-hover-bg);
        }
      }
    }

    .btn {
      width: 12em;
      height: 3em;
      font-size: 1.25rem;
      background-color: var(--button-bg);
      color: var(--button-color);
      border: var(--button-border);
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
      transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

      &:hover {
        background-color: var(--button-hover-bg);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
