title-screen {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg);
  background-image: linear-gradient(
      var(--canvas-grid-line) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, var(--canvas-grid-line) 1px, transparent 1px);
  background-size: 50px 50px;
  align-items: center;
  justify-content: center;

  initial-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;

    .btn {
      width: 200px;
      height: 50px;
      font-size: 20px;
      background-color: var(--button-bg);
      color: var(--button-color);
      border: var(--button-border);
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background-color: var(--button-hover-bg);
      }
    }
  }

  add-project-inputs {
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;

    #new_project_name {
      width: 100%;
      font-size: 20px;
      background-color: var(--button-bg);
      color: var(--button-color);
      border: var(--button-border);
      border-radius: 5px;
      padding: 10px;
    }
    .button-div {
      display: flex;
      width: 100%;
      column-gap: 20px;

      .btn {
        flex: 1;
        padding: 10px;
        font-size: 20px;
        background-color: var(--button-bg);
        color: var(--button-color);
        border: var(--button-border);
        cursor: pointer;
        border-radius: 5px;

        &:hover {
          background-color: var(--button-hover-bg);
        }
      }
    }
  }

  projects-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 750px;
    background-color: var(--secondary-bg);
    padding: 10px;

    .views-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      row-gap: 5px;

      .project-container {
        display: flex;
        align-items: center;
        background-color: var(--container-bg);
        padding: 10px;
        border-radius: 5px;
        transition: box-shadow 0.2s ease-in-out;

        .project-buttons {
          display: flex;
          width: min-content;
          column-gap: 10px;

          .btn {
            padding: 10px;
            width: min-content;
            text-align: center;
          }
        }

        project-view {
          display: flex;
          flex: 1;
          margin-left: 25px;
          justify-content: space-between;
          text-align: center;
          align-items: center;

          .project-name {
            font-size: larger;
            color: white;
          }
          .project-date {
            color: lightgray;
          }
        }
      }

      .project-container:hover {
        box-shadow: 3px 3px 10px var(--primary-bg);
      }
    }

    .btn {
      width: 200px;
      height: 50px;
      font-size: 20px;
      background-color: var(--button-bg);
      color: var(--button-color);
      border: var(--button-border);
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background-color: var(--button-hover-bg);
      }
    }
  }
}
