title-screen {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg);
  background-image: linear-gradient(
      var(--canvas-grid-line) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, var(--canvas-grid-line) 1px, transparent 1px);
  background-size: 50px 50px;
  align-items: center;
  justify-content: center;

  initial-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;

    .btn {
      width: 200px;
      height: 50px;
      font-size: 20px;
      background-color: var(--button-bg);
      color: var(--button-color);
      border: var(--button-border);
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background-color: var(--button-hover-bg);
      }
    }
  }

  add-project-inputs {
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;

    #new_project_name {
      width: 100%;
      font-size: 20px;
      background-color: var(--button-bg);
      color: var(--button-color);
      border: var(--button-border);
      border-radius: 5px;
      padding: 10px;
    }
    .button_div {
      display: flex;
      width: 100%;
      column-gap: 20px;

      .btn {
        flex: 1;
        padding: 10px;
        font-size: 20px;
        background-color: var(--button-bg);
        color: var(--button-color);
        border: var(--button-border);
        cursor: pointer;
        border-radius: 5px;

        &:hover {
          background-color: var(--button-hover-bg);
        }
      }
    }
  }

  projects-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 750px;
    background-color: var(--secondary-bg);

    .views_container {
      height: 90%;
      width: 90%;
      overflow-y: auto;
      padding: 10px;

      .project-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--container-bg);
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 5px;
        transition: box-shadow 0.2s ease-in-out;

        .project-view {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .btn {
          margin-left: 10px;
          font-size: 16px;
          border: none;
          background: none;
          color: white;
          cursor: pointer;
        }

        .btn-rename {
          color: #4caf50;
        }

        .btn-delete {
          color: #f44336;
        }

        .btn:hover {
          transform: scale(1.1);
        }

        .fa {
          margin-right: 5px;
        }
      }

      .project-container:hover {
        box-shadow: 3px 3px 10px var(--primary-bg);
      }
    }

    #back_button {
      margin-top: 20px;
      width: 100px;
      height: 35px;
      font-size: 20px;
      background-color: var(--button-bg);
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.2s;
    }

    #back_button:hover {
      background-color: var(--button-hover-bg);
    }
  }
}
